body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
}
.container{
  height:50px;
  margin: 0;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid rgb(230,230,230);
}

.item1{
  margin-left: 250px;
  font-size: 33px;
  font-family: 'Grand Hotel', cursive;
}
.rcontainer{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ritem1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 50px;
  width:400px;
  height:450px;
  background-color: white;
  border: 1px solid rgb(220, 220, 220);
}
.ritem2{
  position: relative;
  bottom: 3px;
  width:400px;
  height:40px;
  text-align: center;
  background-color:rgb(250, 250, 250);
  border: 2px solid rgb(220, 220, 220);
  border-top: 1px solid rgb(220, 220, 220);
}
h4{
font-family: 'Open Sans', sans-serif;  margin:0;
  margin-top: 10px;
}
p{
  font-size: 12px;
font-family: 'Open Sans', sans-serif;
  margin-left: 90px;
  margin-right: 90px;
  color:rgb(150, 150, 150);
}
a{
  text-decoration: none;
  color: black;
}
input{
  border: 1px solid rgb(210, 214, 211);
  margin:5px;
  width:300px;
  height:33px;
  border-radius: 5px;
  padding-left: 10px;
}
#sub{
  width:310px;
  background: rgb(0,149,246);
  color:white;
  font-size: 15px;
  font-family: 'Noto Sans', sans-serif;
}
h1{
  font-size: 50px;
  font-weight: lighter;
  font-family: 'Grand Hotel', cursive;
}

.passwordcontainer{
  width:50%;
  min-height: 130vh;
  background: white;
  margin: 90px auto;
  border: 1px solid rgb(210,210,210);
}
.changepassbutton{
  color: white;
  background: #458eff;
  border:1px solid white;
  height: 30px;
  width:130px;
  border-radius: 3px;
  margin:30px 50px 0px 250px;
}
.passinputs{
  width:400px;
  height: 30px;
  padding-left: 5px;
  border-radius: 3px;
  border:1px solid rgb(210,210,210);
  background-color:rgb(240,240,240);
  margin: 30px 50px 0px 250px ;
}
.smalldip{
  object-fit: cover;
  object-position: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 150px;
  /* float: left; */
}
.spanclasss{
  font-size: 30px;
  position: absolute;
  top: 170px;
  left:615px;
}
.firstpassinput{
  margin-top: 20px;
}
 #old_password{
   position: absolute;
   top: 240px;
   left: 480px;
 }
 #new_password{
   position: absolute;
   top: 306px;
   left: 473px;
 }
 #new_password_confirm{
   position: absolute;
   top: 373px;
   left: 455px;
 }
 .passforget{
   margin: 0px 50px 0px 250px;
   color: #458eff;
   font-size: 18px;
   text-decoration: none;
 }
