<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Noto+Sans&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/password.css' %}">
  </head>
  <body>
      <div class='container'>
        <a class='item1' href="{% url 'home_feed_page'%}">Instagram</a>
      </div>
      <div class="rcontainer">
        <div class="ritem1">
          <img src="{% static 'lock.png' %}" width="115px" alt="">
          <h4>Reset Your Passwword</h4>
          <p>Instagram gives superior security</p>
          {% if form %}
          <form method="post">
            {% csrf_token %}
            <input type="password" name="new_password1" value="" placeholder="Enter New Passwword"><br>
            <input type="password" name="new_password2" value="" placeholder="Confirm Passwword"><br>
            <input id='sub' type="submit" name="" value="Reset">
          </form>
          {% else %}
          <h5 style="color:rgb(255, 153, 89);">This link is expired </h5>
          {% endif %}
        </div>
        <div class="ritem2">
          <h4><a href="{% url 'signin_page'%}">Back To Login</a></h4>
        </div>
      </div>
  </body>
</html>
