<!DOCTYPE html>
{% load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/password.css'%}">
  </head>
  <body>
    <div class='container'>
      <a class='item1' href="{% url 'home_feed_page'%}">Instagram</a>
    </div>
    <div class="passwordcontainer">
      <h4><img class='smalldip' src="{{request.user.profile_pic.url}}" alt=""><span class="spanclasss">Afsalonprimex</span></h4>
      <form method="post">
        {% csrf_token %}
            <label id="old_password" for="old_password">Old Password</label>
            <input  class="passinputs firstpassinput" type="password" name="old_password" value=""><br>
            <label id="new_password" for="new_password">New Password</label>
            <input  class="passinputs" type="password" name="new_password1" value=""><br>
            <label id="new_password_confirm" for="new_password_confirm">Confirm Password</label>
            <input  class="passinputs" type="password" name="new_password2" value=""><br>
            <input class='changepassbutton' type="submit" name="" value="Change Password">
      </form><br><br><br>
      <a class="passforget" href="{% url 'password_reset' %}">Forget Password?</a>
    </div>

  </body>
</html>
